<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Blog Example</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="/css/app.css">
    </head>
    <body>
        <div class="ui top fixed menu inverted">
            <div class="header item"><i class="big code branch icon"></i>Example Blog</div>
            <a href="/" class="item">Home</a>
            <a href="/blogs/new" class="item">New Post</a>
        </div>
        <!-- HEADER PARTIAL ENDS HERE -->