img {
    /* object-fit: cover;
    height: 400px; */

    width: 30%;
    float: left;
    margin: 1.66%;
}

/* On/Off grayscale: https://stackoverflow.com/questions/609273/convert-an-image-to-grayscale-in-html-css */

img {
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
    filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
}
  
img:hover {
    -webkit-filter: grayscale(0);
    filter: none;
}

p {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    margin-left: 1.66%;
    font-weight: 800;
    font-size: 30px;

    /* Simple underline border */
    padding-bottom: 20px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    width: 30%;
}