body {
    width: 45%;
    padding: 0 20px 20px 20px;
    margin: 20px auto;
    border: 20px solid rgba(0, 0, 0, 0.25);
    
    font-family: 'Source Sans Pro', sans-serif;
}

.postContainer {
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.postContainer p {
    font-size: 1.2rem;
}

.postContainer p:nth-of-type(1) {
    border-left: 5px solid rgba(0, 0, 0, 0.2);
    padding-left: 1%;
}

.postContainer h1 {
    color: #2c3e50;
    font-weight: 700;
}

.postContainer h3 {
    font-size: 1.2rem;
    margin-bottom: 30px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #3498db;
}